.custom-carousel-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 600px;
}

.custom-carousel-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.custom-carousel-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.custom-view-more-link {
  color: #6c63ff;
  font-weight: bold;
  text-decoration: none;
}

.custom-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-carousel-cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.custom-card {
  flex: 0 0 300px;
  height: 350px;
  margin: 0 10px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: left;
  transition: all 0.5s ease;
}

.custom-card.expanded {
  flex: 0 0 38%;
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom-card img {
  width: 100%;

  border-radius: 10px;
}

.custom-card.expanded .custom-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 240px;
  right: 150px;
}

.custom-tag {
  font-size: 12px;
  color: #050506;
  font-weight: 500;
  background-color: #e0e0e0cd;
  padding: 4px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  display: inline-block;
  width: 110px;
  text-align: center;
}

.custom-card p {
  font-size: 18px;
  color: #040000;
  font-weight: 500;
}

.custom-read-more {
  color: #6c63ff;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}

.small-cards-container {
  position: absolute;
  top: 240px;
  left: 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.small-card {
  width: 200px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #4f0cf8;
}