.logo-slider {
    height: 180px;
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slide-track {
    display: flex;
    gap: 0; /* Ensure no gap between slides */
    width: calc(200px * 16); /* Width is calculated for the total number of logos */
    animation: scroll 20s linear infinite; /* Increase the animation duration for a smoother scroll */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 8)); /* Slide the width of half the total logos */
    }
  }
  
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex: 0 0 200px; /* Ensure all slides are the same width */
  }
  
  .logo-slider span {
    transition: transform 1s;
  }
  
  .logo-slider span:hover {
    transform: scale(1.1);
  }
  